body{
    .woofles--header-wrapper{
        .header-main{
            .shop--navigation{
                .navigation--list{

                    .navigation--entry.entry--account{

                        .icon--account{
                            height: 100%;
                        }

                        /*
                        --- Styles for pop-up version of login window
                        */
                        .account--dropdown-navigation.woofles--login-popup-enabled{
                            width: @woofles_login_popup_width;

                            .woofles--login-popup-wrapper{
                                background: @woofles_login_popup_bg_color;
                                border: 1px solid @brand-primary;
                                border-radius: @woofles-border-radius;
                                padding: 10px;

                                .woofles--login-popup-form{
                                    fieldset{
                                        width: 100%;
                                        min-width: unset;
                                        border: none;
                                        padding: 0;
                                        margin: 0;

                                        p{
                                            input{
                                                width: 100%;
                                            }

                                            &.none{
                                                margin-bottom: 5px;
                                            }
                                        }
                                    }
                                }
                            }

                            &.woofles--popup-closed{
                                display: none !important;
                            }

                            &.woofles--popup-opened{
                                display: block !important;
                            }

                            &.woofles--login-popup:after{
                                -webkit-transform: rotate(135deg);
                                transform: rotate(135deg);
                                width: 8px;
                                height: 8px;
                                right: 18px;
                                content: '';
                                display: block;
                                position: absolute;
                                background: @woofles_login_popup_bg_color;
                                border-color: @brand-primary;
                                border-width: 0 0 1px 1px;
                                border-style: solid;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    /*
    --- Styles for popup version of login window
    */
    .woofles--login-window.woofles--login-popup{
        position: fixed;
        max-width: @woofles_login_popup_width;
        width: 100%;
        height: auto;
        top: 70px;
        right: ~"calc((100vw - 1260px) / 2 + 115px)";
        z-index: 8500;
        background: @woofles_login_popup_bg_color;
        border: 1px solid @brand-primary;
        border-radius: @woofles-border-radius;
        transition: 0.5s all;
        padding: 15px;

        @media screen and (max-width: 1259px) and (min-width: 1024px){
            right: 126px;
        }

        @media screen and (max-width: 1023px) and (min-width: 768px){
            right: 60px;
        }

        .woofles--close-off-canvas-window{
            display: none;
        }

        .woofles--login-popup-wrapper{
            background: @woofles_login_popup_bg_color;
            border: 1px solid @brand-primary;
            border-radius: @woofles-border-radius;

            .woofles--login-popup-form{

                fieldset{
                    width: 100%;
                    min-width: unset;
                    border: none;
                    padding: 0;
                    margin: 0;

                    p{
                        input{
                            width: 100%;
                        }

                        &.none{
                            margin-bottom: 5px;
                        }

                        label{
                            color: @woofles_login_popup_text_color;
                        }
                    }
                }

                .password a{
                    color: @woofles_login_popup_text_color;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                .action{
                    button{
                        background: @woofles_login_popup_text_color;
                        color: @woofles_login_popup_bg_color;

                        &:hover{
                            border: 1px solid @woofles_login_popup_text_color;
                            background: @woofles_login_popup_bg_color;
                            color: @woofles_login_popup_text_color;
                        }
                    }
                }
            }
        }

        &.woofles--popup-closed{
            display: none !important;
        }

        &.woofles--popup-opened{
            display: block !important;
        }

        &.woofles--login-popup:after{
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            width: 8px;
            height: 8px;
            right: 18px;
            content: '';
            display: block;
            position: absolute;
            background: @woofles_login_popup_bg_color;
            border-color: @brand-primary;
            border-width: 0 0 1px 1px;
            border-style: solid;
            top: -5px;
        }
    }

    /*
    --- Styles for off-canvas version of login window
    */
    .woofles--login-window.woofles--login-off_canvas{
        position: fixed;
        max-width: @woofles_off_canvas_width;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 8500;
        background: @woofles_off_canvas_bg_color;
        // border: 1px solid @woofles_off_canvas_border_color;
        transition: 0.5s all;

        .woofles--close-off-canvas-window{
            background: darken(@woofles_off_canvas_bg_color, 5%);
            height: 40px;
            width: 100%;
            padding: 10px;
            padding-left: 10px;
            padding-right: 35px;
            cursor: pointer;

            i{
                font-size: 11px;
                margin-right: 15px;
                color: @woofles_off_canvas_font_color
            }

            span{
                line-height: 20px;
                color: @woofles_off_canvas_font_color;
                font-weight: bold;
            }
        }

        .woofles--login-popup-wrapper{
            padding: 10px;
            padding-left: 35px;
            padding-right: 35px;

            .woofles--login-popup-form{

                fieldset{
                    width: 100%;
                    min-width: unset;
                    border: none;
                    padding: 0;
                    margin: 0;

                    p{
                        input{
                            width: 100%;
                        }

                        &.none{
                            margin-bottom: 5px;
                        }

                        label{
                            color: @woofles_off_canvas_font_color;
                        }
                    }
                }

                .password a{
                    color: @woofles_off_canvas_font_color;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                .action{
                    button{
                        background: @woofles_off_canvas_primary_btn_bg_color;
                        color: @woofles_off_canvas_primary_btn_font_color;
                        border: 1px solid @woofles_off_canvas_primary_btn_border_color;
                        border-radius: @woofles-border-radius;

                        &:hover{
                            border: 1px solid @woofles_off_canvas_primary_btn_bg_color;
                            background: @woofles_off_canvas_primary_btn_font_color;
                            color: @woofles_off_canvas_primary_btn_bg_color;
                        }
                    }
                }
            }
        }

        &.woofles--popup-closed{
            right: -@woofles_off_canvas_width;
        }

        &.woofles--popup-opened{
            right: 0;
        }
    }
}